// shapes
$corners: 15px;

// colors
$border: rgba(88,88,88,0.2);
$shadow-dark: rgba(55,55,55,0.3);
$shadow-light: rgba(55,55,55,0.1);

$primary-light: #fefafa;
$primary-dark: #eeeded;
$secondary: #52aea3;

$text-dark: #172b29;
$text-light: #a1a1a1;

// essences
$nigredo: #715858;
$albedo: #c8daf0;
$citrinitas: #f0da74;
$rubedo: #db6e6e;
